td {
    height: 100px;
    width: 100px;

    }
h2{
    text-align: center;
}
.vertical{
    border-left: 1px solid black;
    border-right: 1px solid black;
    

}
.topbottom{
    border-top: 1px solid black ;
    border-bottom: 1px solid black;
   
}
table{
    margin: auto;
}